<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">

        <div  class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <div class="nav-side-menu">
                        <div class="brand">Dashboard</div>
                        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                        <div class="menu-list">
                            <ul id="menu-content" class="menu-content collapse out">
                                <li>
                                    <a href="/viz1">
                                        <i class="fa fa-dashboard fa-lg"></i> Visualization 1
                                    </a>
                                </li>
                                <li>
                                    <a href="/viz2">
                                        <i class="fa fa-dashboard fa-lg"></i> Visualization 2
                                    </a>
                                </li>
                                <li>
                                    <a href="/viz3">
                                        <i class="fa fa-dashboard fa-lg"></i> Visualization 3
                                    </a>
                                </li>
                                <li>
                                    <a href="/viz4">
                                        <i class="fa fa-dashboard fa-lg"></i> Visualization 4
                                    </a>
                                </li>
                                <li>
                                    <a href="/viz5">
                                        <i class="fa fa-dashboard fa-lg"></i> Visualization 5
                                    </a>
                                </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>