<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='search.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Search for a place in London:</h2>
            <div id="custom-search-input">
                <div>
                    <form action='.', method="POST" class="input-group col--12" style="margin:0">
                        <input type="text" class="form-control input-lg" name='place'/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </form>
                </div>
            </div>
            <div class="alert alert-warning" style="margin-bottom:5px">
                <strong>Warning!</strong> Type post code in all caps and without spaces for postcode search.
            </div>
            {% with messages = get_flashed_messages() %}
                {%if messages%}
                <div class="alert alert-danger alert-dismissable">
                    <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Ooops!</strong> {{messages[0]}} 
                </div>
                {%endif%}
            {% endwith %}
        </div>
    </div>
</div>